<div style="padding: 20px;">
  <h1>Logs</h1>

  @if (loading) {
    <div>Import data</div>
  }

  @if (error) {
    <div style="color: red; padding: 10px; background: #ffeeee;">
      {{ error }}
    </div>
  }

  @if (!loading && !error) {
    <table border="1" style="width: 100%; border-collapse: collapse;">
      <thead style="background: #f0f0f0;">
      <tr>
        <th>Timestamp</th>
        <th>Level</th>
        <th>Service</th>
        <th>Host</th>
        <th>Message</th>
      </tr>
      </thead>
      <tbody>
        @for (log of logs; track log.sequence) {
          <tr [style.background]="log.level === 'ERROR' ? '#ffebee' :
                                  log.level === 'WARN' ? '#fff3e0' : 'white'">
            <td>{{ log.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>
              <span style="padding: 2px 8px; border-radius: 4px;
                          background: {{log.level === 'ERROR' ? '#e84b41' :
                                       log.level === 'WARN' ? '#ff9800' :
                                       log.level === 'INFO' ? '#387bb5' :
                                       log.level === 'DEBUG' ? '#479e2d': '#848a7e'}};
                          color: white;">
                {{ log.level }}
              </span>
            </td>
            <td>{{ log.serviceName }}</td>
            <td>{{ log.hostName }}</td>
            <td>{{ log.message }}</td>
          </tr>
        } @empty {
          <tr>
            <td colspan="5" style="text-align: center;">Brak logów do wyświetlenia</td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
