.livemap-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: minmax(0, 1fr);
  grid-template-areas:
    "one"
    "two"
    "three"
    "five"
    "four"
    "six"
    "seven"
    "eight";
  padding-block: 2rem;
  width: 95%;
  margin-inline: auto;
}

.sessions {
  height: 550px;
  box-shadow: 2px 2px 2px 2px hsl(0, 0%, 70%);
  width: 100%;
}

